<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OBankMode" value="N" />
    <add key="FTP_IP" value="eyJpdiI6IjZnd1VoQTgzY3lMMkN3YVNLVWhUOGc9PSIsInZhbHVlIjoiVzhWYjdpa1JZOW5FdDhaMm9jMURXdz09IiwibWFjIjoiMTVjOWMyMWI0ZjVjNjMzMjA3Zjk1ZDk4Y2FkNWM4YTE1MWZhMjBiYzJiMjk2ZjJkNGNiNjFhY2FiNzc0YTRhNiJ9" />
    <add key="FTP_Account" value="eyJpdiI6IkRNMldKV3ZsYVlwSGJqRU94S3hZZlE9PSIsInZhbHVlIjoid3NLQmhDM0xyeVVrZGhhYndqRHBBZz09IiwibWFjIjoiYmUwNzM3NDRhMTUzZjVkZjRkYmQ4Mjc1NGVjNmUzNTVhMmYzZmViZjE1NTM3MDQyOWY3NjYwYWQ5NjJmZjZkNyJ9" />
    <add key="FTP_PD" value="eyJpdiI6InhCVzY2ZW03THhlbUpvZHF5QXZaZ0E9PSIsInZhbHVlIjoiWlgxRFk0QUdmczRoa3V6UE0xOVg3QT09IiwibWFjIjoiOGU1ZmI0MzkzNDlmNjFmZDI3YzUyZGMwM2UzYzk1NGEwZDc3NmE3NzFlMDBjZDg1MTAwODdlMjYyYWY1NjNkMyJ9" />
    <add key="FTP_Port" value="eyJpdiI6Im9jc0ZHN0pZRm1CaHZmcEcxajhHbHc9PSIsInZhbHVlIjoiSE1VSFlhS2NqNkZ2eUt1VEhNZWVwUT09IiwibWFjIjoiYmRmMzI4NjU4ZGNhYTEwNmI2M2U0NDVmYmU3MDE2OGU2NTI4ZDRjZGE3YzRmZWUzNTYwYTVjNzNmY2EzZGUyNiJ9" />
    <add key="FTP_ELK_Account" value="eyJpdiI6Inl0QWpZU0wrdDVTZDV1UmVpQzhMbmc9PSIsInZhbHVlIjoiRVg5Q3FEbWUrSmgzbFZ3N1B3T0piUT09IiwibWFjIjoiZGJmMDlmNWFmYmJkNzc1ZDk5OTNmMmI4ZDY4ZTRjYWNhYWYwMWM3ZWEzYWMxYzNkNmExMzk1MmU2YThhMjJlMiJ9" />
    <add key="FTP_ELK_Name" value="eyJpdiI6InFKeGhHaHA4VC94aVZMYjQvck9OcXc9PSIsInZhbHVlIjoiVFFISkRPTW9CbnBrNXdKdFgvSWFKZz09IiwibWFjIjoiYTUxOTU2Y2IxOGZlOWQ1ODgxOTNjNzA1ZDdlOGFjN2FhM2Y1ODU4MzZlNTNlNzQ1NWJhMzU3OTViMzBmN2M3MiJ9" />
    <add key="FTP_ELK_Container" value="eyJpdiI6IjhHZXJWejhFTEE2blk2U0F2OVUxTFE9PSIsInZhbHVlIjoiak9RSGhTaTNZZWZUNGJnaU5abGxvZz09IiwibWFjIjoiZjFjNTAxMTIxNjU0YWFlNzIzOTE4MThlZTEzZDYxZTNkMzc0OTMzNjQyZmUyYzBjZTU4N2YzNmRjZGYwYzJiMSJ9" />
    <add key="FTP_ELK_EndPointType" value="eyJpdiI6IkJreUkyQVJ5bEs2RXRla09jUlJjMmc9PSIsInZhbHVlIjoiTFhQbmJRRFNIbEp1eUlTU2QxNEVOaG4wWW5ZTU16WS8yKzFxVEl1bkdKWT0iLCJtYWMiOiJhNmJlZGZmMWIyZGJkNTkyZjcxODdkNjBiZDk5OWE3NTE1ZmE2ODRmN2JiM2NjZTkxOWNiM2QyMWYwYzhkNWM2In0=" />
    <add key="FTP_Folder_Upload" value="eyJpdiI6IjRGdEJ2Z2FkdmV2T0ozYjBpeWVBN1E9PSIsInZhbHVlIjoiYVQ2b0prOEZDOUNFVWlKNFJOdkhkRlNEemdKVkN3UDNsRE5IR3NrKzh3UXp3ai9HbnprVlVkWlc3VHpOS1lLRCIsIm1hYyI6IjcyMDJmMDlmNTc4NzZlYjRmOGU1NTk5ZWJhYzgzNTU3NTYxM2VhODgzMjRkNTIyMTEyZjYzMGJmOWM4ZTQyNjcifQ==" />
    <add key="FTP_Folder_Download" value="eyJpdiI6IlZ2MjdIQjhaQUZYT1BRb2kzT0djT2c9PSIsInZhbHVlIjoiV29xSjlFRzRMUDdDTlVxUk11TGRCdEN4d1ZZR2J6NzdqK2ZnVzFReXFsSWhPTXRVNk1rSHFsVUJ1QkJXSkdjeCIsIm1hYyI6IjlhOTViYTcyNjA1MjI5Y2EyOTMyYThmODYzZTJjYzg5NmZjNjQ3NWMzMjY5OTZjNjc0NmMzNzgzOTkxMGEyNDMifQ==" />
    <add key="Folder_Base" value="eyJpdiI6IlB0ZXZKcUtMb1dHS0VqblRzM0g3WkE9PSIsInZhbHVlIjoiU0VFWHc2b0xVV3ByV21KQ3JIZlpMZz09IiwibWFjIjoiNmM5YWEzMmI3NzE3OTVkZWVjYjU2MWQwYzgxYWJiZmM3OGZjZTM1ODEyN2M1ZjEwZDgyOTM3ZDI0MTkxZTk5MyJ9" />
    <!--DB Connect-->
    <add key="DB_Host" value="eyJpdiI6IjhKSWEyTS9yQzNob1FKQ1cxYnlRaHc9PSIsInZhbHVlIjoiUU5ydThEd2RLTW8vbzQwQWY2OFVjQT09IiwibWFjIjoiZDk0ZDA5NzdhZTY3Y2Q0NmI1NTNhM2M1ZGNmNGI3NzA4MjE1Y2Y3NTk4ZWQyNzJjY2NiNTc3ODUzNjNjZmY5OCJ9" />
    <add key="DB_Port" value="eyJpdiI6ImZ1QmU0V3hTa2Q2cTdQVWZoMWNSZlE9PSIsInZhbHVlIjoiZ0FiZ3RjdXdlUmszbTR0ODNKL3FDUT09IiwibWFjIjoiZDE3MGM5Y2RmNjgxYTQ5ZjZmMTdkMDAxYzM3MDI5ZWI1YmM3ZDYzZjA0MmNmMjZlNDZmMDRiZjgwZTY2YTQzYSJ9" />
    <add key="DB_UserName" value="eyJpdiI6ImlhcmRYdCt1MW9GYk9DN1ExSzRpL3c9PSIsInZhbHVlIjoiQWg3ZXVwWVJrOCt2WldnMDlEVy9TUT09IiwibWFjIjoiMmZjYjkwMzlhMTc2NDFlZWQzODUzMjczYTg4MWVlMmU3YzIzZDBhMmNlODUyZWNmNWU1NzI0ZTkwYjA0YzYxZCJ9" />
    <add key="DB_WR" value="eyJpdiI6ImJTZXoyZ3RGUnVuMTVPNEJvNm1lL0E9PSIsInZhbHVlIjoiVS9nU2UrM2NxU3FNU1RaUGZLbEdDUT09IiwibWFjIjoiYWQ3MzgzYjY5MDIyNDUyZTYzMWNhZWY1MWFkODcwYTFkNzFiYjhjMDQ2NzFjNjg2ZGVkNjQ4ZGE5ZmQ1ZjQ0OCJ9" />
    <add key="DB_Schema" value="eyJpdiI6ImJUVzhPek9ON3dLeCtZUDZxNWtFM3c9PSIsInZhbHVlIjoiMUYweXhrZjZsQlN6b1plMGxlTUx1QT09IiwibWFjIjoiY2E3Zjk5ZDdjMGNjYmZkOTg1M2UzNDZkNTMzMzk1NjRlODE2ZjMwYjc2ZjZlNGExZDdhNDRhYjlhZjRiM2QzNiJ9" />
    <add key="DB_ELK_EndPointType" value="eyJpdiI6IjZYV0E4bjRTOGpnWVlsV1V1L3lVQ1E9PSIsInZhbHVlIjoiZkpYeERUZm1mVW10bjhON08xSUNIUT09IiwibWFjIjoiNjdmMTZiZmVjZjg1YjExNjE5NGNlNDY5MTU5YWNkMDljYTc3YTEwNmU5YWUwYmE5NzJmYmQ5NTRlMjVjNTYzNiJ9" />
    <add key="DB_ELK_EndPointName" value="eyJpdiI6IjIzL3l0SXVNeHVNcEF5elgxaHhScEE9PSIsInZhbHVlIjoiME9EVUV6NzJCV3lBOHVqcnN1QUFFVXhhSExTNVhKaGpmS3lOUmE5UWV3OD0iLCJtYWMiOiIyZTdjZTBlNDIwNWEyMDdlYjcwNWFjMGRlYWVhNzhkYTU3YWQ3ZjlkYTY3YWMxZGQxY2QwZGYwYjQzYTc5OGViIn0=" />
    <add key="DB_ELK_Account" value="eyJpdiI6InRSQmY5bUlCMnFyNTRCWVRXVExHZFE9PSIsInZhbHVlIjoiM3MzMlRqS052di9UcFM0NlFhMmg5UT09IiwibWFjIjoiZmFhODJkYWJhZTc5NmU3ODU2YjU3MzZhZTE1MzI4MTRjZTZiYTUxNGQ5MzVmNTFlMmMwMWY4ZDA0MmUwNzYyOCJ9" />
    <add key="DB_ELK_Container" value="eyJpdiI6IlMrRHEzZFo0NGhOM1liTC9ZZ040OEE9PSIsInZhbHVlIjoiQW92di9DMHgzN2ptMTVuWXBtb3hKZz09IiwibWFjIjoiYmUwNjdiYTA0ZDA0ODhkOTcyNDBhNWJlMjRmMjA0ZjIwYmMzYjlmMTIzMzgzNGE2NDY1ZDgwMjhiNWNjOTU0ZCJ9" />
    <add key="DB_ELK_TimeoutMS" value="eyJpdiI6IjRDRGs1YSs3dUx5b2tLSnQ2M3BTTEE9PSIsInZhbHVlIjoibW9wMUM2UVNsVG43WFllY1MrbEpmUT09IiwibWFjIjoiYTllZDE3NzdjMDc0YzBlODhjMGE1MzRlZTkxZjgzMjEyMmUzZDZiMjA0NjYwZTQ3YjAwZmZmZGRhNWRmM2YxNCJ9" />
    <!--Time Setting-->
    <add key="Time_Download" value="eyJpdiI6Im81M1NNeTVEYjRQbVFGWk5oUGIzZ2c9PSIsInZhbHVlIjoiMjJKUnVqV3NXNGFhcWVER1B1RzRidz09IiwibWFjIjoiYzlkOTdmNmI0Y2U4NWYzNGZmZTdhZTg4N2U2YWE2ZDEzYzMzNDQ5NDE0NmZiNWJjNjY5MzllYjE3YWFlYmVkMCJ9" />
    <add key="Time_Upload" value="eyJpdiI6ImFaMDcyWkE2Uk1QSVZYVEV0SjJCRGc9PSIsInZhbHVlIjoiYUFlaDJ2K1B5Wm8xUzVYK3pOTTY1dz09IiwibWFjIjoiYWZlOGYzN2E1OTRkNzQwMjNiY2IyMzZlMWU0YTlkODg3MTRkOGFkNWY1ZjRlOGZhNTAzMTY1ODQ4ZWY4NTNlZCJ9" />
    <!--AMFC-->
    <add key="AMFC_FTP_IP" value="eyJpdiI6IkNIallxejVaL25ZUTlmYnFxQUw3bVE9PSIsInZhbHVlIjoiK0ZzYk01NCsxUlkxMTQvTjkwaG4wZz09IiwibWFjIjoiZGVjMDgyNWVjZjlmMjRlZjhlYWI1OWViYzc0NWQ0MmU0YTZlMmY5MDhlNjA1Y2JjYjQ4MjI0MTkxZTY2OWY2NiJ9" />
    <add key="AMFC_FTP_Account" value="eyJpdiI6IkxkN0FkUE9NcDF0K0dvR1pFNFJ4ZUE9PSIsInZhbHVlIjoieVhjcHk3KzJ1NTJoVzc5V2tGcnZlZ2gvNWMxbE55MnNBNlp1RnpJZjZtST0iLCJtYWMiOiI1Nzk2ZTNlMWJkOTM3OTNlZDdhZTkzYjA4N2U0NGY2NjQzMTNiMGE0NDI5NTkwMDgwYjZiMzc1NjA0Yzg4NmNmIn0=" />
    <add key="AMFC_FTP_PD" value="eyJpdiI6IjRuYUdOUXRXaWVjeXpkTFFiWjRCSHc9PSIsInZhbHVlIjoic3RTeWFEVGtONzM0T2VmVmFhemVEZS9hVm45N0tqZjJ0U2pqNWpLRzhDMD0iLCJtYWMiOiJkMGVjZTRjNjI3NTcwOTNjYzE5MTFkNzQ1YzlhYTE1MjBlYmU2OWRlYmY1NzNiNTkxNWQ3YWQ5YWQwMWI3MzkyIn0=" />
    <add key="AMFC_FTP_Port" value="eyJpdiI6ImZMVDFLZFJaVlZxUmtzMCtIUzlZblE9PSIsInZhbHVlIjoiQUwvcDBrN2tHSldaWEJPZG9NaDk2dz09IiwibWFjIjoiOTI4MWY4NmRkOWRjNzg2N2EyNzFmNjM4Y2YwNDk4ZjhiYTAwYzc4NzJiZjNiMWUxMzdmMjQzODIxNjA0ZGU3YiJ9" />
    <add key="AMFC_FTP_ELK_Account" value="eyJpdiI6IjhCM1RxODd6eTlhWDJvOXRZMzRSL0E9PSIsInZhbHVlIjoiUjlJWlB4OVQ0T3VPVmJOMlQzREFMUT09IiwibWFjIjoiYzgzMDI5NjNhMWQzNmRmMTYyYzE5YzMwODc0NGY2ZWU0OTZiZTI2N2FkMWNiYzRlZGU4YTc2NWE2N2EzMzVkZiJ9" />
    <add key="AMFC_FTP_ELK_Name" value="eyJpdiI6Im9NZEFBN2pxZjJTam45SWYxS1RReHc9PSIsInZhbHVlIjoiY0pocExCVEZzSDJPY2V3TGdqWmFkZz09IiwibWFjIjoiMDkyNTAzM2I0ZGYwN2I4NzYyMGEzYjYwYWFlNmUzOGI5ODUwODViZjIzNzg3MmFjODMyNjQxNGVmNzMwNzEwMyJ9" />
    <add key="AMFC_FTP_ELK_Container" value="eyJpdiI6ImZ6clFaM1VuMno5TFR6VVBRN1lhRHc9PSIsInZhbHVlIjoicU1WWU0zL1cvbVBKS0FTUGk0d0pQQT09IiwibWFjIjoiNDMyYjY0MzQ0ODQzNTc0ZWFkMjNjNjljZWViZTlkNDdkNDRiMjI3ZTM0MjBlY2RhNzc1YjcwNWUwOGNmMjllMSJ9" />
    <add key="AMFC_FTP_ELK_EndPointType" value="eyJpdiI6IjlyZE9HbW1jR0wveGpLd1RWRzc2R2c9PSIsInZhbHVlIjoiemYyVzgxeFNWdEVnOW1XdHhhK04zVlBFVk9mby9YSHNSK202VzBRdElKbz0iLCJtYWMiOiJiMWE0N2Q4ODU3ZjViNWZhMThkZWM4YzU4Yzc2MjU2N2U0MDE5YTRiOTQyNDViYzQxNmMwNDg4ZGY4YzlhYWNkIn0=" />
    <add key="AMFC_FTP_Folder_Upload" value="eyJpdiI6Ik5YY05obnR6UmhMbUxJVFBKZGZ4TEE9PSIsInZhbHVlIjoicGt5WFk2azhPS2Rvd1lHZ2dUSnV0MHhxdC9GeTFrMzYyRE81ZW1VLzI3MD0iLCJtYWMiOiI3NDY5MjcxZWRjMDdhZjQwOWIzOGU1YTM5NjAwM2VkYjlkOTQ1NDk4YTgwMGRiMmUxNTY2NzI4NjYzZTZhY2RmIn0=" />
    <add key="AMFC_FTP_Folder_Download" value="eyJpdiI6IkxiZ09FVGNXWVlrUWlpckpya2RveEE9PSIsInZhbHVlIjoiVG9WOUY5L3JDakFvbnp0bzJhOGVhalk4VVE1M0JBWGpUYjJKMVoyQmUyOD0iLCJtYWMiOiIyNzg4YTBiNmFhYzViYmFiNTJlMzlmMmM5OWI0MmFhMzllYjM2NWZlMDFhMzAyYTMyNGRmZjRiY2IxNjFiODJjIn0=" />
    <add key="AMFC_Folder_Base" value="eyJpdiI6InBkL1R2N011MHdBRCt6cnVCRnJ6alE9PSIsInZhbHVlIjoiK1l5RUtNTGpDQThlT0drL3VVanJLQT09IiwibWFjIjoiMTU4ZGRiMjhkM2NlMzdiNzQzMjM0NDk3ZDJkYzM3N2M5Y2RmNGYxYjg3M2Q1MzBlZTEyNzliYTQ2OTNiNTEzOSJ9" />
    <add key="AMFC_Time_Download" value="eyJpdiI6ImFScVpCMjdrenhpc3BCZzhuWkZhMHc9PSIsInZhbHVlIjoiL1B4OHJ3Z1NDT2RrYlg2WkNaQXU4Zz09IiwibWFjIjoiMjc2MWNmZDA4NTFlYzc2N2VkOWEwNWQ2ODllOTQxZmQ4ZDlhZmFmZjlhMWJhOTY1NDE2ZjY3MGUxZmIyYzc1NCJ9" />
    <add key="AMFC_Time_Upload" value="eyJpdiI6Ii9nM3RiajFaYm9DM3Vqdk5EcUROSkE9PSIsInZhbHVlIjoiMHMwVzYxMlNQQ2ZTVmJyUW9TNE92dz09IiwibWFjIjoiNGNkMTk3NDE5MzdhNzk2MzVlNjViOGE4ZWExN2UyZDZhMzEwYmRlYWVhZDRkOTk4MTQ2NmRhMTI2NmY3ZWE2MiJ9" />
    <!--SSO-->
    <add key="SSO_Retry" value="eyJpdiI6InZ0eTZMNit5OFdGY3lGd1ZHVGtlZ1E9PSIsInZhbHVlIjoibEhlYUdsVWpjeHNML2xFcWtOV2hiQT09IiwibWFjIjoiMjc1NzJiYmU3OTFiZmZkNWJhYmZmM2RhMTUxMjkwMDhkZmVhNjdlMDg1MzRkNzRjNGMzNjZmMDY2NTk5OTBmYiJ9" />
    <add key="SSO_Default_Auth_Role" value="eyJpdiI6Ilh2R3laRGJQcVRyWk5VMWx2SDJVZVE9PSIsInZhbHVlIjoiY3BNYk1VZjBYNTRPWW43eVFVSzEvbVBZN0hEd3Blc29KMHNuYUlwdkZLTT0iLCJtYWMiOiJmYjVlNThlYzQ3YWEzMjgyYTNjNGU4MWM4MDUzY2M3NzBiYWE4YTVlNDQxYmZmYWYzYjc1NzVhZmZhNzNhMTNjIn0=" />
    <add key="SSO_Default_Auth" value="eyJpdiI6IkZwMnlMU3R4eVFwZDRoMFdGTVAwVmc9PSIsInZhbHVlIjoiNm1qeHcySDd6cnJubW9wUDRIcnpHZz09IiwibWFjIjoiODQwY2FjYWYwOWY2Yzg0MDU5NjMxMjYxM2IzMjAxODI5ZDgxOTU0MDdlNzhjYWEyNjQ1MmJlYTVmZmM1NzI5ZiJ9" />
    <!--3:管理 2:編輯 1:瀏覽 0:不可見-->
    <add key="SSO_Time" value="eyJpdiI6InRXQnZrblo3SWxJNlpUaTBDdE1jU1E9PSIsInZhbHVlIjoiMGdMQjZOZVlpeDA1K2Z1SGNPeUdDdz09IiwibWFjIjoiNTUxNmI3M2I3NjAzYjFhNTJiZTZlNTcwOGM3NTk4ZDRiYmI2ZWIzN2YwYjY3YjJhNTNiOGY0MjkxMjQ3NmY4NiJ9" />
    <add key="SSO_URL" value="eyJpdiI6IkpNWTlwanhwOThsRXNnQ3p3ZWpQREE9PSIsInZhbHVlIjoiaXVLUVFrV3dZSENQellIcnFONEduT0hoWnBEMGJEMnpEaDh4SFpNQVpTSDNzNXE1SHBtTTB1MXRad0o5MlF2KyIsIm1hYyI6IjM4M2Y4ZWU1YzlmMjc4MjA5N2QwMWE0YWY1NDhiZjkwZTc2ZWNiMDg0NWIwMWU0ODZlMDQwMDQ3YzBjNmM3OTcifQ==" />
    <add key="SSO_Company" value="eyJpdiI6Im9SazdRRlJkSkFCS1g1VkpRTThNekE9PSIsInZhbHVlIjoiMW5xS0c5cnJwazFGTUN2MzdBKzVrZz09IiwibWFjIjoiYjFjNTdjY2JiYjE5YjVhZjlkZjg3ZTM2ZTRkNmI3Y2VlZTRkNjJhNzk4MDg2ZTg3NmQwYTFlNjY0ZjVmZDQ0YyJ9" />
    <add key="TestJson" value="eyJpdiI6IlRUSzdjUW85eFZkVXpZVGwvZEl4bVE9PSIsInZhbHVlIjoiTnNtSmFaWHZweGxEbjRpdGxRTU54Zz09IiwibWFjIjoiMWUyZjJlMjFkYzQ1MDllZDI3ZDc5N2IzNThkNWI1OWQzZjJlNjBhZDRkODRjYmM4YWI5ZjVkYjI1YWRlZmEzMCJ9" />
    <!--10.88.20.151:8000/RBITSysInfo.asmx 正式-->
    <!--http://172.61.20.151:8000/RBITSysInfo.asmx 測試-->
    <!--DMP-->
    <add key="DMP_OverdueMail" value="eyJpdiI6InpqUGlqSHQ3eWdINVQ5aTRvWUtwM1E9PSIsInZhbHVlIjoiNlRDNy82VFlvREdEdXFSTGEzZlcyZz09IiwibWFjIjoiNzQ3YjU1MDgyNTZkZDM5YmFiYmJiMzYyNzZlZTRhNTg3ZGFiNzVjNGNjNjg2MGJmZjI1NWIzZjI1Mjk1ZjRmMiJ9" />
    <add key="DMP_DailySettlement" value="eyJpdiI6IjF3QzloenhEeWwzTCs4cE50QkpFRFE9PSIsInZhbHVlIjoiMGxyVTNhSlpEd3ZHUXROQmNYVG13Zz09IiwibWFjIjoiY2U5MGNhYWZjNTI5MTQ3YmIyODA0NTdkYzhhYzE1ZWE2YzRlMGNiZGZiYTEyOGE0MjA0MWI5N2IyZGEyZDdjOCJ9" />
    <!--精業系統企網銀代收付正式起算日-->
    <add key="CBLINP_Write" value="eyJpdiI6IkF3cGdEMkNnUGVtYTNNaFpuOXVMNmc9PSIsInZhbHVlIjoiditmbTFBaGZmN01qQ2V2TTJlTko1UT09IiwibWFjIjoiYTJjMTljNmYxMzg3YzA1Yzc2YTI4ZmU2NmU3YTk1YzFmNDY4ZjE2ODNjYWU0OTI5NTYwYjg5NTJhZDRkY2MxYyJ9" />
    <!--Y:程式複寫 N:IT人員直接進DB改-->
    <add key="CBLINP_Date" value="eyJpdiI6ImsrWkV6L2U2aDE1WEJhcFhJTzZidVE9PSIsInZhbHVlIjoidWRYbUNsdElGbTNLSThTUmxGWlM0dz09IiwibWFjIjoiMTQwNDIwOTEwYzFhNGI5ZDAxMzkwNzU5OTBmNmU1YzZlZmU5NWI0ZTk3MzQzY2I3YjcxN2Q0MjdmYmY0YjE4MiJ9" />
    <!--EMail-->
    <add key="smtpServer" value="eyJpdiI6IkJ6MElMZTdRSkppejFGdTRzMndIZ0E9PSIsInZhbHVlIjoiZktsMURVL2FPZDhkd1l1MTlKTXVhUT09IiwibWFjIjoiM2RhM2U2NWU4NmEzN2Y5NjE3MWI5MjhjZDFkODA0M2Y4MTI5Y2QyOTRmNjk3MmY5ZDlmYmQwOTc0MzExNGI1ZSJ9" />
    <add key="mailAccount" value="eyJpdiI6Ii9seDBhYWxoc0FkOHlveXB5U0FOdkE9PSIsInZhbHVlIjoiRjdIZW1wTC83aXZDV2Y1a1dJRDFqZz09IiwibWFjIjoiMWJkNWE0ZmFiMjljNTdiMDYwMzVhOTM2YjIzOTUwNzMyMDY5NmUxZDc2NDdmZjVlMmQ1ZWZhMDhmY2UzZDY3YSJ9" />
    <add key="enableEmail" value="eyJpdiI6Ijc3TENvOVJ4cTRoZ0k1UExHYWYwaHc9PSIsInZhbHVlIjoiRERkK1o0UFFQU091Qkl5WkxFbWJ2UT09IiwibWFjIjoiM2YyMmEzZjkxNDIwM2M2NTU0YTdjYWE0YTljZWFmZDliYzZmMzVmODlkZjIyMjY3ZTYxNWYxY2YyZDQ4NDNkZSJ9" />
    <add key="msgPriority" value="eyJpdiI6IjhPTjhzbFZud1daelllQnNFQ05ZZmc9PSIsInZhbHVlIjoiTnlRYzFBaGNyZEtncW1qZkpTSmd4dz09IiwibWFjIjoiOTcxNTI4MTljYTgzZmM2MTEwMTE0MjFlNDkwZGUxYTFmNTYxODc0MjczMzZkODQwMDg4MjBiOTMzMjEzMTY4YiJ9" />
    <add key="msgFrom" value="eyJpdiI6IlppM1h6a283M2c4R3h0a1lONkxSTnc9PSIsInZhbHVlIjoiSFlzTGx4VUtWU0JmUm1SWTZnWW5ieGdPQWNwY2EyVUhCeVFwemg0bXdqdz0iLCJtYWMiOiI1YWNjODUyNGIxMzc5OTdkOThiZDM2ZmIxNGE2YWI1YWU3YmMzNWExNDNiZjMxMTEwZTliMzkxNzNjOWI0OTE0In0=" />
    <add key="EnvironmentId" value="eyJpdiI6IkJPRG1aYVRpdlhHb3FnUnZxVGtSd1E9PSIsInZhbHVlIjoiSEs1MlROeVgweUJuZUpJLy9iaDVJZz09IiwibWFjIjoiZGZlMjU2MmMyNDM3ZDBhYmExNmVlZWMzYTAzYjliYTY1NDg2NDFlN2IyODlkMjZkYzI2OTUxY2E3MDg3ZjZlYSJ9" />
  </appSettings>
</configuration>